# Base de datos — SQL Server
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=SIGERP_DB
DB_USER=sa
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
NODE_ENV=development

# Correo (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@sigerp.itl.edu.mx